.lists-container {
  margin: 10%
}

.lists-container button {
  margin-bottom: 20px;
  margin-top: 20px;

  font-size: 21px;
  color: #0cd3d3;
}

.lists-container li svg {
  margin-left: 20px;
  margin-right: 10px;
}